<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600&family=Pacifico&display=swap" rel="stylesheet">  

</head>
<body>

    <div class="description">
        <div class="text">
        <p class="weatherHeading">The temperature in   <%=query %> is <%= temp %> degrees Celcius.</p>

        <p class="subheading">The weather is currently <%= weatherDescription %>.</p>

        <img class="weatherIcon" src=<%= img %> alt="">
        </div>
        
    </div>
    
    
</body>
</html>